configuration {
 modi: "window,drun,ssh,combi";
 combi-modi: "window,drun,ssh";
 font: "更纱黑体 UI SC 13";
 show-icons: true;
 icon-theme: "Papirus-Dark";
 drun-icon-theme: "Papirus-Dark";
}

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
@theme "./themes/gruvbox/gruvbox.rasi"
